<div class="template-wrapper about-outer" id="about-outer">
  <div class="about-logo"><b>{{.AppName}}?</b></div>
  <div class="about-chart"></div>
  <div class="about-inner">
    <h3>ABOUT</h3>
    <p class="aboutP">
      <b>{{.AppName}}</b> is an advanced software development and consulting 
      firm, operating at the intersection of technological innovation and 
      strategic business transformation. We target industry leaders and 
      entrepreneurs seeking custom solutions for optimizing and enhancing 
      critical infrastructure components. We offer consultation services and 
      specialize in full stack software engineering, including product 
      development, deployment, and management. <b>{{.AppName}}</b> can design, 
      create, and deploy local and cloud based applications in as little as 
      minutes, and for less than you think.  
    </p>
    <h3>START AGGREGATING SALES LEADS AS SOON AS TOMORROW</h3>
    <p>
      <b>{{.AppName}}</b> can deploy single-page web applications tailored to
      a businesses target audience, designed to collect contact information and
      integrate it with standard business tools, including group email 
      automation and google sheets integration. In under 24 
      hours, <b>{{.AppName}}</b> can build, deploy, and integrate our sales 
      leads software into your businesses infrastructure, allowing the 
      marketing campaign to begin as soon as tomorrow, and for as little as 
      five-hundred dollars.
    </p>
    <h3>DEVOPS, MICROSERVICES, & <br> CONTINUOUS DELIVERY & INTEGRATION</h3>
    <p>
      The first stage of our development cycle consists of analyzing a 
      project's scope to design a linear workflow around it, aiming for 
      completion within the client's time-frame and budget. Complex tooling 
      often requires a myriad of finely-tuned and optimized services working in 
      unison. <b>{{.AppName}}</b>
      <a href="https://github.com/sigma-firma/" target="_blank"> designs, 
        creates, deploys, and maintains these services, and helps teams do the 
        same</a>. Our product delivery process implements a continuous 
      integration and deployment pipeline, automating and streamlining builds, 
      tests, security audits, version control, backups, staging, deployments, 
      and other workflow mechanisms, using state-of-the-art cloud-based 
      solutions, microservices, and unique, custom tooling, to quickly and 
      reliably deliver fully functional products to end-users.
    </p>

    <h3>DATA REFINEMENT</h3>
    <p>
      Data refinement and analysis can transform unstructured data into 
      useful information. Our company can help your company build tools for 
      <a href="https://github.com/sigma-firma/" target="_blank">data mining 
        and analysis</a>, capable of exposing valuable insights and extracting 
      hidden statistics, revealing long-term and achievable avenues of revenue,
      and ultimately forming foundational components of sustainable economic
      growth.
    </p>
    <h3>SERVICES</h3>
    <ul class="skills-ul">
      <li>Product consultation & design</li>
      <li>Product research & development</li>
      <li>Product deployment & management, locally or on the cloud</li>
      <li><a href="http://owlen.xyz">Data scraping & analysis</a></li>
      <li>Infrastructure & task automation</li>
      <li>Microservice & component based architectures</li>
      <li>Financial integrations, <a href="https://github.com/sigma-firma/bplot">stock analysis tools</a>, & trend detection services</li>
      <li>Continuous integration & delivery workflows</li>
      <li><a href="https://sigma-firma.com">Sales lead aggregation software for every industry</a></li>
      <li>Advanced software tooling</li>
      <li>Security assessments</li>
      <li><a href="https://github.com/sigma-firma/gencrypt">Data encryption</a></li>
      <li>SSL certificates & renewals</li>
      <li>Custom web servers (NodeJS/Golang)</li>
      <li>REST API's & http(s) servers</li>
      <li>Website development, deployment, integrations, & administration</li>
      <li>Single Page Applications (SPAs)</li>
      <li>User account setup with token verification</li>
      <li>JavaScript/NodeJS/Jquery/ Ajax/HTML(5)/CSS(3)/websockets</li>
      <li>In-memory database design & administration</li>
      <li>Linux, LXC/Docker containers, & server administration</li>
      <li>DevOps</li>
    </ul>

    <h3>WE ARE THE BEST</h3>
    <p>
      Does your business need an advanced website or data analysis tools? Are 
      you trying to develop a new product but need help designing the software?
      Does your business need to integrate data from multiple sources? Could 
      automating tasks or monitoring data fluctuations increase your businesses
      profits? Do you need a website to start finding sales leads in the next 
      24 hours? <b>{{.AppName}}</b> can help any company design and build 
      products that expressjett these actions to start increasing your profits 
      immediately! <a onclick="jumpTo('contact-outer')">Contact us</a> for a free 
      consultation, and find out how we can transform your business <b>TODAY!</b>
    </p>
  </div>
  <style>{{ template "about.css" . }}</style>
  <script>{{ template "about.js" . }}</script>
</div>
